.wrapper {
  position: fixed;
  bottom: -1vh;
  background-color: rgb(249, 245, 242);
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
}

.part {
  display: flex;
  justify-content: center;
  width: 35px;
}

.part img {
  width: 100%;
}